doctype html
html
  head
    title= title
    link(rel="stylesheet", href="/stylesheets/style.css")
    link(rel="stylesheet", href="/components/semantic/build/packaged/css/semantic.min.css")
    link(rel="stylesheet", href="//brick.a.ssl.fastly.net/Open+Sans:400,400i/Source+Code+Pro:400")
  body
    block content
    script(src="/components/jquery/dist/jquery.min.js")
    script(src="/components/semantic/build/packaged/javascript/semantic.min.js")
    script(src="/components/angular/angular.min.js")
    script(src="/components/angular-route/angular-route.js")
    script(src="/components/angular-restmod/dist/angular-restmod-bundle.min.js")
    script(src="/components/lodash/dist/lodash.min.js")
    script(src="/components/q/q.js")
    script(src="/components/moment/min/moment.min.js")
    script(src="/components/angular-moment/angular-moment.min.js")
    script(src="/javascripts/script.js")
    script(src="/javascripts/pasteStoreApp.js")
